@using Microsoft.AspNet.Identity
@model Questioning.Models.IndexViewModel
@{
    ViewBag.Title = "Кабінет";
}

<h2>@ViewBag.Title - @User.Identity.GetUserName()</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <hr />
    <div class="text-center">
        <br />
        <br />
        @{ 
            string actionButtonText;
            if (Model.PassedQuestionings.Count() == 0)
            { actionButtonText = "Пройти тестування"; }
            else if (Model.PassedQuestionings.Where(pq => pq.IsComplited == false).Count() > 0)
            { actionButtonText = "Продовжити тестування"; }
            else
            { actionButtonText = "Нове тестування"; }
        }
        @Html.ActionLink(actionButtonText, "Questioning", null,
                      htmlAttributes: new { @class = "btn btn-primary btn-lg" })
        <br />
        <br />
    </div>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading">Пройдені тестування</div>
        @{
            if (Model.PassedQuestionings.Count == 0)
            {
                <div class="panel-body">
                    <h2 class="text-center">Ви ще не пройшли жодного тестування.</h2>
                </div>
            }
            else
            {
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Відповіді/Питання</th>
                        <th>Завершено</th>
                        <th>Результат</th>
                        <th>Деталі</th>
                    </tr>
                    @{int i = 0;}
                    @foreach (var questioning in Model.PassedQuestionings)
                    {
                        <tr>
                            <td>@(++i)</td>
                            <td>@(questioning.AnsweredQuestionCount + "/" + questioning.TotalQuestionCount)</td>
                            <td>@(questioning.IsComplited ? "Так" : "Ні")</td>
                            <td>@(questioning.IsComplited ? questioning.Result : "-")</td>
                            <td>
                                @if(questioning.IsComplited)
                                {
                                    @Html.ActionLink("Детальніше", "Result", "Home",
                                        routeValues: new { questioningNum = questioning.QuestioningId },
                                        htmlAttributes: new { @class="btn btn-success" })
                                }
                                else
                                {
                                    @Html.ActionLink("Продовжити", "Questioning", null,
                                        //routeValues: new { questioningId = questioning.QuestioningId },
                                        htmlAttributes: new { @class="btn btn-danger" })
                                }
                            </td>
                        </tr>
                    }
                </table>
                </div>
                }
            }
    </div>
</div>
